*.manifest
*.opensdf
*.tlog
*.res
*.lastbuildstate
*.idb
*.ipch
*.sdf
*.swp
*.swo
*.unsuccessfulbuild
*.o
debug.txt
/HelloTriangle/Debug
/HelloTriangle/libEGL.dll
/HelloTriangle/libGLESv2.dll
/Debug
*.pdb
