/HelloTriangle/HelloTriangle/Debug/*.manifest

/HelloTriangle/*.opensdf

/HelloTriangle/HelloTriangle/Debug/*.tlog

/HelloTriangle/HelloTriangle/Debug/*.res

/HelloTriangle/HelloTriangle/Debug/*.lastbuildstate

/HelloTriangle/HelloTriangle/Debug/*.idb

/HelloTriangle/HelloTriangle/Release/*.tlog

/HelloTriangle/HelloTriangle/Release/*.manifest
/HelloTriangle/ipch/hellotriangle-81686a09/*.ipch
/HelloTriangle/ipch/hellotriangle-81686a09/*.ipch

/HelloTriangle/HelloTriangle/Release/*.lastbuildstate
